body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: sans-serif;
}

#header-nav {
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
}

.navbar-brand {
	padding-top: 25px;
}

.navbar-brand h1 {
	font-family: serif;
	color: #557c3e;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	line-height: .75;
	margin-bottom: 0;
	margin-top: 0;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

#nav-list {
	margin-top: 10px;
}

#nav-list a {
	color: #951c49;
	background: #D4AF37;
	text-align: center;
	font-size: 1.4em;
	border-bottom: 1px solid #61122f;
	border-top: 1px solid #61122f;
}

#nav-list a:hover {
	background: #e7e7e7;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle {
	clear: both;
	margin-top: -30px;
}
/*
.navbar-collapse {
	border-top: 0;
}*/

#page-heading {
	color: #D4AF37;
}

.container .jumbotron {
	background-color: #DEB887;
	color: #61122f;
}

#jumbotron-heading {
	margin-top: 0;
	margin-bottom: 20px;
}